<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UTApp.Properties.Settings.UTApp_Integradora1ConnectionString"
            connectionString="Data Source=UTApp_Integradora1.mssql.somee.com;Initial Catalog=UTApp_Integradora1;Persist Security Info=True;User ID=LuisRomán123_SQLLogin_1;Password=b7jxk7yxyk;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>